
/*		HEAD SECTION		*/
.rice-icon img {
	width: 3.5rem;
	margin-left: 4rem;
}

.rice-icon b {
	font-family: Arial, sans-serif;
}

.log-sign {
	margin-right: 4rem;
	font-family: Arial, sans-serif;
}

.log-sign .signup-button {
	background-color: #00BC87;
	text-transform: uppercase;
	color: #fff;
}

.log-sign .signup-button:hover {
	color: #fff;
}

/*		BODY SECTION		*/
.body-section {
	margin-top: 4rem;
}

.search-label {
	margin-left: 15rem;
}

/*		SLIDE SECTION		*/
.slide-section {
	margin-top: 4rem;
}

/*		FOOD SECTION		*/
.food-section {
	margin-top: 3rem;
	margin-right: 40rem;
}

.food-section .hour {
	display: inline-flex;
}

.food-section img {
	width: 40px;
}

.food-section p {
	margin-top: 1rem;
	margin-left: 1rem;
}


/*		FOOTER SECTION		*/
.footer-section {
	margin-top: 4rem;
	background-color: #161616;
}

.footer-section img{
	height: 3rem;
	margin-left: 0.5rem;
	cursor: pointer;
}

.footer-images {
	margin-left: 12rem;
}

.footer-words {
	margin-top: 1rem;
}

.footer-words li{
	margin-right: 12rem;
	list-style: none;
}

.footer-words li a {
	color: #555858;
}