.header {
  margin-top: 2rem;
}

.header button {
  margin-top: 1rem;
}

.header img {
  margin-top: 1rem;
}

.header .btn-signup {
  background-color: #2D2D2D;
  color: #fff;
  text-transform: uppercase;
}

.header .btn-link {
  color: #2D2D2D;
}

/*  NAVIGATOR */
.navigator {
  margin-top: 5rem;
}

.navigator a {
  color: #7C7C7D;
}

/*    SLIDES    */
.slide-section {
  margin-top: 3rem;
}

.slide-section:hover {
  cursor: pointer;
}

/*    FOOTER    */
.footer {
  margin-top: 3rem;
  padding: 10px;
}

.footer img {
  margin-left: 7rem;
}

.footer img:hover {
  cursor: pointer;
}

.footer .links a{
  color: #7e7e7e;
  margin-right: 2rem;
  margin-top: 0.7rem;
}

