
/*		MAIN SETTINGS 		*/
body {
	font-family: sans-serif;
}

/*		HEAD		*/
.head-section .rice-icon img{
	width: 30%;
}

.head-section .rice-icon span {
	font-family: Arial, sans-serif;
}

.head-section .sign-button {
	text-transform: uppercase;
}

/*		NAVIGATOR		*/
.navigator .sections a {
	color: #7C7C7D;
}

.navigator form {
	margin-left: 15rem;
}

/*		FOOD SECTION		*/
.time-section {
	margin-right: 40rem;
}

h2 {
	margin-right: 30rem;
	color: #2D2D2D;
}


/*.time-section {
	background-color: rgba(0, 0, 0, 0.15);
	height: 300px;
	width: 300px;
	margin-right: 30rem;
}

.time-section img {
	width: 30%;
	margin-left: 0.5rem;
	margin-top: 1.5rem;
}

.time-section b {
	margin-right: 1rem;
}
*/

/*		FOOTER 		*/
.footer {
	background-color: #161616;
}

.footer .footer-icons:hover {
	cursor: pointer;
}

.footer a{
	color: #333333;
}
